@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
	--base-color: #ffffc7;
	--orange-color: #fcaa67;
	--wine-color: #7d4f50;
	--grey-color: #2f2e41;
}

body {
	font-family: "Montserrat", sans-serif;
	margin: 0%;
	background: url("bg.jpg");
	background-repeat: none;
	background-size: cover;
	color: var(--grey-color);
}

label {
	font-size: 120%;
}

input {
	background-color: var(--orange-color);
	font-family: "Montserrat", sans-serif;
	border: none;
	font-size: 120%;
	width: 300px;
	margin: 1% 0;
	padding: 1%;
	color: var(--grey-color);
}

.calc {
	padding-top: 3%;
	padding-left: 5%;
}
img {
	float: right;
	width: 650px;
	margin: 7% 3% 0;
}

#btn-submit {
	font-family: "Montserrat", sans-serif;
	padding: 1%;
	border: none;
	background-color: var(--wine-color);
	color: var(--base-color);
	font-size: 120%;
	margin: 2% 0;
}

#btn-submit:hover {
	cursor: pointer;
	text-decoration: underline;
}

#output-check {
	color: var(--wine-color);
	font-size: 120%;
	font-weight: 500;
}
